<section class="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 who">
        <h1 class="heading centered">Who Is Nile?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <div class="body" id="nile">
          <p>
            Nile, headquartered in the burgeoning tech market of Denver, Colorado, is the collaborative effort of
            Founders Derek Cann and Scott Brabson, UX/UI Designer Tristram Nelson, and Developer Ian Knox.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 images">
        <div class="row">
          <div class=" col-xs-6 col-md-3 profile-image active" data-name="scott">
            <div class="hexagon red" style="background-image: url(<%= asset_path 'scott.jpg' %>)">
              <!--<%= image_tag 'scotthex.png' %>-->
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 profile-image" data-name="derek">
            <div class="hexagon blue" style="background-image: url(<%= asset_path 'derek.jpg' %>)">
              <!--<%= image_tag 'derekhex.png' %>-->
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 profile-image" data-name="ian">
            <div class="hexagon brown" style="background-image: url(<%= asset_path 'ian.jpg' %>)">
              <!--<%= image_tag 'ianhex.png' %>-->
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 profile-image" data-name="tristram">
            <div class="hexagon red" style="background-image: url(<%= asset_path 'tristram.jpg' %>)">
              <!--<%= image_tag 'tramhex.png' %>-->
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 bios body">
        <div class="bio" id="scott">
          <h1 class="heading">Scott Brabson</h1>

          <h2>Co-Founder & Head of Product</h2>
          <ul class="info">
            <li><span class="bolded">Best Trip Ever:</span> Cuba</li>
            <li><span class="bolded">Top of the Bucket List:</span> Mongolia</li>
            <li><span class="bolded">Travel Mantra:</span> "You're not in Kansas anymore, Dorothy. Remember, that's a good thing."</li>
          </ul>
        </div>
        <div class="bio" id="derek">
          <h1 class="heading">Derek Cann</h1>

          <h2>Co-Founder & President</h2>
          <ul class="info">
            <li><span class="bolded">Best Trip Ever:</span> Barcelona</li>
            <li><span class="bolded">Top of the Bucket List:</span> Machu Picchu</li>
            <li><span class="bolded">Travel Mantra:</span>  “Stay curious, be open minded, and tread lightly.”</li>
          </ul>
        </div>
        <div class="bio" id="ian">
          <h1 class="heading">Ian Knox</h1>

          <h2>Engineering</h2>
          <ul class="info">
            <li><span class="bolded">Best Trip Ever:</span> Palestine</li>
            <li><span class="bolded">Top of the Bucket List:</span> Berlin</li>
            <li><span class="bolded">Travel Mantra:</span> "Don't be afraid to try what scares away most tourists."</li>
          </ul>
        </div>
        <div class="bio" id="tristram">
          <h1 class="heading">Tristram Nelson</h1>

          <h2>User Experience & Design</h2>

          <ul class="info">
            <li><span class="bolded">Best Trip Ever:</span> Gothenburg</li>
            <li><span class="bolded">Top of the Bucket List:</span> Tokyo</li>
            <li><span class="bolded">Travel Mantra:</span> "Eat the weird stuff."</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 vision centered">
        <%= image_tag 'NileLogoBlueRedLP_1.svg', id: 'vision-logo' %>
        <h1 class="heading">Our Vision</h1>

        <p class="body">Nile is a public benefit corporation. We want you to have amazing travels without the hassle of
          having to
          weed through deceptive reviews or a mess of suggestions. We don't believe in selling user data. We do believe
          we should be low impact campers leaving the world (and web) a better place than we found
          it. <%= link_to 'Read our manifesto >>', manifesto_path %></p>
      </div>
    </div>
  </div>
</section>