<section class="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 title">
        <%= image_tag 'HeroTypeLP_1.svg' %>
      </div>
    </div>
  </div>
</section>
<section class="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 phone">
        <%= image_tag 'phone.png' %>
      </div>
      <div class="col-sm-7 col-sm-offset-1 intro-container">
        <h1 class="heading">Local Knowledge. Authentic Adventures.</h1>

        <p class="body">Native empowers travelers to dig deeper into any locale, unearthing the hidden cultural gems,
          the hip insider spots, as well as the touristy things that are actually worth waiting in line for. In other
          words, Native guides you to the true soul of a city.</p>
      </div>
    </div>
  </div>
</section>
<section class="river">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
        <div class="row">
          <div class="col-sm-10 who">
            <h1>Who knows you better than your</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 friends">
            <h1>friends and family?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-sm-offset-3 no-one">
            <h1>No one.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="quip">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 text">
        <p class="body">
          By planning with friends who know you the best, and drawing on the insights of people who know the area the
          best, Nile travelers are confident that
          they're making the very most of their trip.
        </p>
      </div>
      <div class="col-sm-3 image">

      </div>
    </div>
  </div>
</section>
<section class="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 who">
        <h1 class="heading">Who Is Nile?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 images">
        <div class="row">
          <div class="col-sm-3 profile-image" data-name="scott">
            <div class="hexagon red">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
          </div>
          <div class="col-sm-3 profile-image" data-name="derek">
            <div class="hexagon blue">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
          </div>
          <div class="col-sm-3 profile-image" data-name="ian">
            <div class="hexagon brown">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
          </div>
          <div class="col-sm-3 profile-image" data-name="tristram">
            <div class="hexagon red">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 bios">
        <div class="bio" id="nile">
          <p class="body">Nile, headquartered in the burgeoning tech market of Denver, Colorado, is the collaborative
            effort of
            Founders Derek Cann and Scott Brabson, UX/UI Designer Tristram Nelson, and Developer Ian Knox.
          </p>
        </div>
        <div class="bio" id="scott">
          <h1 class="heading">Scott Brabson - Director of Butts</h1>

          <p class="body">
            Scott is a butt-sniffer.
          </p>
        </div>
        <div class="bio" id="derek">
          <h1 class="heading">Derek Cann - Founder</h1>

          <p class="body">
            Derek brings over ten years of organizational, people and product management experience to the Native
            management team. As the Marketing Manager at Photobucket, Derek lead a team which brought three mobile apps
            and two website products to market posting impressive growth and revenue figures. Derek previously founded
            Beat of Travel (.com), a travel and lifestyle website which partnered with travel industry leaders including
            Virgin Vacations and Key West Express. An alumni of the University of Colorado Denver School of Business,
            Derek earned a Masters of Marketing with a specialization of Internet Marketing in Spring of 2014.
          </p>
        </div>
        <div class="bio" id="ian">
          <h1 class="heading">Ian Knox - Director of Engineering</h1>

          <p class="body">
            With over 30 years of experience in humanity and human-related endeavors, Ian is, first and foremost, a
            person. He brings a diverse skill set to Native, his fields of study having included History, Computer
            Science, Applied Mathematics, and Civil Engineering. A graduate of Galvanize's gSchool in Denver, Ian is a
            technical polyglot and developer generalist. When not slinging code, he can be found narrowly avoiding death
            on his bicycle or playing a game of Catan.
          </p>
        </div>
        <div class="bio" id="tristram">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 bio-title">
              <h1 class="heading">Tristram Nelson - Director of User Experience</h1>
            </div>
          </div>
          <p class="body">
            Derek brings over ten years of organizational, people and product management experience to the Native
            management team. As the Marketing Manager at Photobucket, Derek lead a team which brought three mobile apps
            and two website products to market posting impressive growth and revenue figures. Derek previously founded
            Beat of Travel (.com), a travel and lifestyle website which partnered with travel industry leaders including
            Virgin Vacations and Key West Express. An alumni of the University of Colorado Denver School of Business,
            Derek earned a Masters of Marketing with a specialization of Internet Marketing in Spring of 2014.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 vision">
        <%= image_tag 'NileLogoBlueRedLP_1.svg' %>
        <h1 class="heading">Our Vision</h1>

        <p class="body">Nile is a public benefit corporation. We want you to have amazing travels without the hassle of
          having to
          weed through deceptive reviews or a mess of suggestions. We don't believe in selling user data. We do believe
          we should be low impace campers leaving the world (and web) a better place than we found
          it. <%= link_to 'Read our manifesto', '#' %></p>
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 icons">
        <div class="row">
          <div class="col-sm-3">
            <div class="icon-hex"><%= fa_icon 'facebook', class: 'fa-2x' %></div>
          </div>
          <div class="col-sm-3">
            <div class="icon-hex"><%= fa_icon 'twitter', class: 'fa-2x' %></div>
          </div>
          <div class="col-sm-3">
            <div class="icon-hex"><%= fa_icon 'instagram', class: 'fa-2x' %></div>
          </div>
          <div class="col-sm-3">
            <div class="icon-hex"><%= fa_icon 'pinterest', class: 'fa-2x' %></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-4 links">
        <div class="">Blog</div>
        <div class="">Manifesto</div>
      </div>
    </div>
  </div>
</section>
<section class="signup">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-2 info">
      <span class="found">Be a Founding Member</span>

      <p>Join <%= @signups.length %> Native Travellers</p>
    </div>
    <%= email_field_tag 'signup-email', nil, class: 'col-sm-3 signup-email' %>
    <div class="col-sm-2 signup-submit">
      <span>Submit</span>
    </div>
    <div id="signup-close">
      X
    </div>
  </div>
</section>