<section class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 icons">
        <div class="row">
          <div class="col-xs-3 social-icon">
            <%= link_to (image_tag 'Soc_Insta_Icon.svg'), 'https://instagram.com/niletravelapp/' %>
          </div>
          <div class="col-xs-3 social-icon">
            <%= link_to (image_tag 'Soc_FacebookIcon.svg'), '#' %>
          </div>
          <div class="col-xs-3 social-icon">
            <%= link_to (image_tag 'Soc_Twitter_Icon.svg'), 'https://twitter.com/niletravelapp' %>
          </div>
          <div class="col-xs-3 social-icon">
            <%= link_to (image_tag 'Soc_Ello_Icon.svg'), 'https://ello.co/niletravel/post/ITaCFLFjsnpz2EvvU63nXQ' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-2 col-md-5 col-md-offset-3 links menu-item">
        <div class="row">
          <div class="col-xs-4 col-md-4"><%= link_to 'WHO IS NILE?', team_path %></div>
          <div class="col-xs-4 col-md-4"><%= link_to 'BLOG', 'https://ello.co/niletravel' %></div>
          <div class="col-xs-4 col-md-4"><%= link_to 'VISION', vision_path %></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-md-6 col-sm-offset-0 signup unstuck">
        <div class="row">
          <div class="col-sm-12 info">
            <span class="found">Be a Founding Member</span>

            <p>Join <%= follower_count %> Nile Travellers</p>
          </div>
          <div class="col-sm-8">
            <%= email_field_tag 'signup-email', nil, class: 'signup-email' %>
          </div>
          <div class="col-sm-4">
            <div class="signup-submit menu-item">SIGN UP</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-2 copyright">
        <p>
          Copyright © Nile, LLC 2015. All rights reserved.
        </p>

        <p>
          All trademarks, trade names or logos mentioned on this site belong to their respective owners.
        </p>
      </div>
    </div>
  </div>
</section>