<nav class="nav-custom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 menu menu-item">
        <div class="row">
          <div class="col-xs-4 col-sm-4">
            <%= link_to 'MANIFESTO', manifesto_path, class: 'link' %>
          </div>
          <div class="col-xs-4 col-sm-4">
            <%= link_to 'BLOG', 'https://ello.co/niletravel', class: 'link' %>
          </div>
          <div class="col-xs-4 col-sm-4">
            <%= link_to 'SIGN UP', '#', class: 'link', id: 'nav-signup' %>
          </div>
        </div>
        <%= link_to root_path do %>
          <%= image_tag 'NileLogoWhiteLP_1.svg', id: 'nav-logo' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>